<!DOCTYPE html>
<html>
    <head> </head>
    <body>
        <div>
            <h2>Camera Preview</h2>
            <!-- <video id="video" autoplay></video> -->
            <video id="video" autoplay hidden></video>
            <canvas id="canvas"></canvas>
            <input id="text" />
            <button id="show-text-btn" onclick="{processor.updateText()}">
                顯示文字
            </button>
            <button id="capture-btn" onclick="{processor.snapshot()}">
                截圖
            </button>
        </div>
        <div>
            <h2>Snapshots</h2>
            <div id="snapshots"></div>
        </div>

        <script src="javascripts/processor.js"></script>
    </body>
</html>
